body {
  background-color: #FFFFFF; 
font-weight: bold;
font-family: 'Sofia';font-size: 22px;
}

section{
   box-shadow: 6px 20px 10px black;
}
ul {
	color: #000000;
	font-family: 'Balsamiq Sans', cursive;
}

h2 {
	color: #2E033B;
	text-align: center;
}